.blog {
    font-size: 20px;
}

.number {
    width: 5%;
}

.title {
    width: 20%;
}

.description {
    width: 55%;
}

.date {
    width: 15%;
    text-align: center;
}

.info {
    width: 5%;
    text-align: right;
}

.info:hover {
    cursor: pointer;
}

.blog ul {
    display: flex;
    padding: 0;
}

.blog ul li {
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    margin-top: 50px;
    width: 100%;
    display: inline-flex;
    height: 25px;
}

.pagination-options {
    display: flex;
    margin: auto;
}

.pagination-options p {
    text-decoration: underline;
}

.pagination-options a, .pagination-options p {
    margin: 0 10px;
}