.info {
    margin-top: 50px;
}

.info p {
    margin: 5px 0;
}

.post {
    min-height: 500px;
}

.post .content {

}

.comment_create {
    margin: 25px 0;
}

.comment_section p {
    margin: 0;
}

.comment_section ul {
    padding: 0;
}

.comment_section .message {
    margin-left: 25px;
}

.comment {
    margin: 50px 0;
}